#item-home3,#item-perfil3,#item-resumen3,#item-servicios3,#item-portafolio3,#item-clientes3,#item-blog3,#item-contact3{
    color: white;
}
#item-NT3{
    color: black;
    font-family: fantasy;
}
#item-profile-3{
    color: white;
    font-family: fantasy;
}
#icono-3{
    font-size: 20px;
    color: white;
}

